<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net471" />
  <package id="MySql.Data" version="6.10.7" targetFramework="net471" />
  <package id="Selenium.Chrome.WebDriver" version="76.0.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net471" />
  <package id="Selenium.Support" version="4.0.0-alpha02" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha02" targetFramework="net461" />
  <package id="VisualBasic.PowerPacks.Vs" version="1.0.0" targetFramework="net471" />
</packages>